.about-container{
    padding: 50px;
}

.about-card-img{
    width: 48px;
    border-radius: 10p;
}
.about-card-body{
    border-radius: 10px;
}
.about-card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:18px;

}

@media only screen and (max-width:550px) {
    .about-card-container{
        grid-template-columns: 1fr;
    }
    .about-container{
        margin: 0 auto;
    }
    
}
