.home-container{
    width: 98%;
    padding: 50px;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 18px
}

@media screen and (max-width:550px){
    .products-container{
        grid-template-columns: 1fr;
    }
    
}